#xxx{
  display: block; 
  background: white;
  position:fixed;
  top:0;
  left:0;
}

*{
margin:0;
padding:0;

}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

body{
  background-image:url(background.jpg);
}




ul,ol{
list-style:none;
}

body{
  margin:0px;
  overflow: hidden;

}

html{

}

.actions{
  position:fixed;
  top:0px;
  left:0px;
  padding:20px;
}

.actions svg{
  width:1.5em;
  height:1.5em;
  transition: all 0.3s;
  margin: 0 8px;
}

.actions svg.active{
fill:red;
transform:scale(1.2);

}


.color{
position:fixed;
top: 70px;
left:25px;

}

.color >li{
width:20px;
height:20px;
box-shadow: 0 0 3px rgba(0,0,0,0.5);
margin:13px 0;
border-radius: 50%;
transition: 0.3s;

}

.color > .black{
  background: black;
}

.color >.red{
  background: red;
}

.color >.green{
  background: green;
}

.color > .blue{
  background: blue;
}




.color >li.active{
  box-shadow: 0 0 3px rgba(0,0,0,0.9);
  transform:scale(1.2);
}


.size{
position:fixed;
right:10px;
top:18px;

}

.size{
  margin:8px 0;
  

} 
.size> .thin{
  height:10px;
  width:30px;
  border-top:5px solid black;
  border-radius:2px;
  margin:5px;
}
.size> .thick{
  height:10px;
  width:30px;
  border-top:10px solid black;
  border-radius:2px;
 
  margin:5px;
}


/*
.actions > #brush{
  display: none;
}

.actions.x  #brush{
  display: inline-block;
}

.actions.x  #eraser{
  display:none;
 }

